<% include ../partials/header %>
<form action="/scores/<%= score.id %>?_method=PUT" method="post">
	<label>User Name:
	<input type="text" name="score[player]" value="<%= score.player %>"></label>
	<label>Score:
	<input type="text" name="score[highScore]" value="<%= score.highScore %>"></label>
	<input type="text" name="score[date]" value="<%= score.date %>"></label>
	<input type="submit" value="Submit">
</form>
<a href="/scores"><button>Check High Scores</button></a>
<% include ../partials/footer %>