<% include ../partials/header %>
<form action="/scores" method="POST">
	<label for="name">User Name:
	<input type="text" name="score[player]"></label>
	<label for="score">Score:
	<input type="text" name="score[highScore]"></label>
	<input type="text" name="score[date]"></label>
	<input type="submit" value="Submit">
</form>
<a href="/scores"><button>Return Home</button></a>
<% include ../partials/footer %>