<% include ../partials/header %>
<p><%= score.player %> scored a highscore of <%= score.highScore %> scored on <%= score.date %></p>
<a href="/scores"><button>Return Home</button></a>
<% include ../partials/footer %>